html {
  background: aqua;
  background-color: aqua;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  flex-wrap: wrap;
  gap: 5px;
}

.w100 {
  width: 100%;
}

.grid {
  background: #ffffff;
  background-color: #ffffff;
  height: 55px;
  width: 55px;
}
